#meu-elemento {
    position: fixed;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 50px;
    background-color: red;
    transition: transform 0.2s ease-out;
    pointer-events: none; /* Evita que o elemento capture eventos do mouse */
  }




  body {
    cursor: none; /* Esconde o cursor original */
  }
  
  #meu-elemento {
    transform: translate(-50%, -50%);
  }
  
  #meu-elemento:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }